<section class="modal-complete-sale" id="modal-complete-sale">
    <div class="complete-sale" id="complete-sale">
        <header class="header-complete-sale">
            Selecione um Cliente
            <div class="window-buttons-complete-sale">
                <button class="btn-window-complete-sale" value="close">
                    <span class="material-icons">close</span>
                </button>
            </div>
        </header>
        <div class="body-complete-sale">
            <div class="type-pay-container">
                <div class="type-pay">
                    Dinheiro
                    <input type="text" class="in-type-pay" placeholder="Valor recebido">
                </div>
                <div class="type-pay">
                    Pix
                    <input type="text" class="in-type-pay" placeholder="Valor recebido">
                </div>
                <div class="type-pay">
                    Cartão de crédito
                    <input type="text" class="in-type-pay" placeholder="Código da operação">
                </div>
                <div class="type-pay">
                    Cartão de débito
                    <input type="text" class="in-type-pay" placeholder="Código da operação">
                </div>
                <div class="complete-sale-box">
                    Troco
                    <h2>R$ 0,00</h2>
                </div>
                <div class="complete-sale-box">
                   Total
                    <h2>R$ 0,00</h2>
                </div>
            </div>
            <div class="complete-sale-button-box">
                <button class="btn-action-complete-sale">
                    <span class="material-icons">done</span>
                    Salvar
                </button>
                <button class="btn-action-complete-sale">
                    <span class="material-icons">close</span>
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</section>