<section class="modal-select-customer" id="modal-select-customer">
    <div class="select-customer" id="select-customer">
        <header class="header-select-customer">
            Selecione um Cliente
            <div class="window-buttons-select-customer">
                <button class="btn-window-select-customer" value="full_screen">
                    <span class="material-icons">crop_square</span>
                </button>
                <button class="btn-window-select-customer" value="close">
                    <span class="material-icons">close</span>
                </button>
            </div>
        </header>

        <div class="body-select-customer">
            <input type="text" class="in-select-customer" placeholder="Digite o nome do cliente">
            <div class="list-customers">
                <div class="header-list-customer">
                    <span>Id</span>
                    <span>Nome</span>
                    <span>Crédito</span>
                    <span>Débito</span>
                </div>
                <div class="body-list-customer">
                    <div class="item-list-customer">
                        <span>888888888888</span>
                        <span>Nizael Valente</span>
                        <span>R$ 10.000,00</span>
                        <span>R$ 10.000,00</span>
                    </div>
                    <div class="item-list-customer">
                        <span>888888888888</span>
                        <span>Nizael Gomes</span>
                        <span>R$ 10.000,00</span>
                        <span>R$ 10.000,00</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>