<section class="modal-success-transactionr" id="modal-success-transactionr">
    <div class="success-transaction">
        <header class="header-success-transaction">
            Sucesso
            <div class="window-buttons-success-transaction">
                <button class="btn-window-success-transaction" value="close">
                    <span class="material-icons">close</span>
                </button>
            </div>
        </header>
        <div class="body-success-transaction">
            <span class="material-icons icon-modal">done</span>
            <p>Transação realizada com sucesso.</p>
        </div>
        <div class="success-transaction-button-box">
            <button class="btn-action-success-transaction">
                <span class="material-icons">done</span>
                Ok
            </button>
        </div>
    </div>
</section>