<section class="page-section">
    <div class="sales-button-box">
        <button class="btn-action-sales" value="Sale">
            <span class="material-icons">add_shopping_cart</span>
            Nova venda
        </button>
        <button class="btn-action-sales" value="Order">
            <span class="material-icons">post_add</span>
            Novo pedido
        </button>

        <button class="btn-action-sales">
            <span class="material-icons">swap_horiz</span>
            Troca
        </button>
        <button class="btn-action-sales">
            <span class="material-icons">reply</span>
            Devolução
        </button>
        <button class="btn-action-sales">
            <span class="material-icons">edit</span>
            Editar
        </button>
        <button class="btn-action-sales">
            <span class="material-icons">highlight_off</span>
            Cancelar
        </button>
    </div>

    <div class="tab-selection-menu">
        <div class="tab-selector">
            <input type="radio" class="active-tab" name="active-tab" checked id="active-sales-tab">
            <label class="caption-active-tab" for="active-sales-tab">
                Vendas
            </label>
            <div class="list-transactions" id="list-transactions-sales">
                <div class="header-list-transactions">
                    <div class="list-header-transactions">
                        <span>Número da transação</span>
                        <span>Nome do cliente</span>
                        <span>Data da transação</span>
                        <span>Tipo de pagamento</span>
                        <span>Valor total</span>
                        <span>Vendedor</span>
                    </div>
                </div>
                <div class="body-list-transactions">
                    <div class="list-item-transactions">
                        <span>888888888888</span>
                        <span>Nizael Valente</span>
                        <span>04/02/2022</span>
                        <span>Dinheiro</span>
                        <span>R$ 50,00</span>
                        <span>Valente</span>
                    </div>
                    <div class="list-item-transactions">
                        <span>888888888888</span>
                        <span>Nizael Valente</span>
                        <span>04/02/2022</span>
                        <span>Dinheiro</span>
                        <span>R$ 50,00</span>
                        <span>Valente</span>
                    </div>
                    <div class="list-item-transactions">
                        <span>888888888888</span>
                        <span>Nizael Valente</span>
                        <span>04/02/2022</span>
                        <span>Dinheiro</span>
                        <span>R$ 50,00</span>
                        <span>Valente</span>
                    </div>
                    <div class="list-item-transactions">
                        <span>888888888888</span>
                        <span>Nizael Valente</span>
                        <span>04/02/2022</span>
                        <span>Dinheiro</span>
                        <span>R$ 50,00</span>
                        <span>Valente</span>
                    </div>
                    <div class="list-item-transactions">
                        <span>888888888888</span>
                        <span>Nizael Valente</span>
                        <span>04/02/2022</span>
                        <span>Dinheiro</span>
                        <span>R$ 50,00</span>
                        <span>Valente</span>
                    </div>
                    <div class="list-item-transactions">
                        <span>888888888888</span>
                        <span>Nizael Valente</span>
                        <span>04/02/2022</span>
                        <span>Dinheiro</span>
                        <span>R$ 50,00</span>
                        <span>Valente</span>
                    </div>
                    <div class="list-item-transactions">
                        <span>888888888888</span>
                        <span>Nizael Valente</span>
                        <span>04/02/2022</span>
                        <span>Dinheiro</span>
                        <span>R$ 50,00</span>
                        <span>Valente</span>
                    </div>

                </div>
            </div>
        </div>

        <div class="tab-selector">
            <input type="radio" class="active-tab" name="active-tab" id="active-order-tab">
            <label class="caption-active-tab" for="active-order-tab">
                Pedidos
            </label>
            <div class="list-transactions" id="list-transactions-orders">
                <div class="list-item-transactions">
                    <span>Número da transação</span>
                    <span>Nome do cliente</span>
                    <span>Data da transação</span>
                    <span>Tipo de pagamento</span>
                    <span>Valor total</span>
                    <span>Vendedor</span>
                </div>
            </div>
        </div>
    </div>
</section>