<section class="sell-page" id="sell-page">
    <header class="header-sell-page">
        <div class="sell-button-box">
            <button class="btn-action-sell" value="conclude_sale">
                <span class="material-icons">done</span>
                Concluir(F2)
            </button>
            <button class="btn-action-sell" value="select_customer">
                <span class="material-icons">person</span>
                Cliente(F4)
            </button>
            <button class="btn-action-sell">
                <span class="material-icons">percent</span>
                Desconto(F5)
            </button>
            <button class="btn-action-sell">
                <span class="material-icons">attach_money</span>
                Consultar(F6)
            </button>
            <button class="btn-action-sell">
                <span class="material-icons">edit</span>
                Editar(F7)
            </button>
            <button class="btn-action-sell" value="close">
                <span class="material-icons">highlight_off</span>
                Cancelar(F8)
            </button>
        </div>
        <div class="window-buttons-sell">
            <button class="btn-window-sell" value="close">
                <span class="material-icons">close</span>
            </button>
        </div>
    </header>
    
    <div class="sell-in-box">
        <input type="text" class="in-sell" name="bar_code" id="in-sell-bar-code" placeholder="Código de barras">
    </div>
    <div class="shopping-bag">
        <div class="item-bag">
            <span>Camisa Polo Royal Fundamental I</span>
            <span>1x R$ 1060,00</span>
            <span>R$ 1060,00</span>
        </div>
        <div class="item-bag">
            <span>Camisa Polo Royal Fundamental I</span>
            <span>1x R$ 1060,00</span>
            <span>R$ 1060,00</span>
        </div>
        
    </div>
    <div class="footer-sell">
        <div class="total-pay-box">
            <p>Total a pagar</p>
            <h2 class="total-pay">R$ 0,00</h2>
        </div>
    </div>
</section>